# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Env files
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Node
node_modules/
.next/

# Editor / OS
.DS_Store
.idea/
.vscode/
